.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  background-color: #fff;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.loading-main {
  position: absolute;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.loading-text {
  margin: auto;
  width: fit-content;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-weight: 400;
  color: #1a2b3c;
  user-select: none;
}

.animating-fadeout {
  animation-name: fade-out;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes ldio-7htin0opikm {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-7htin0opikm div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #46acf5;
  animation: ldio-7htin0opikm 1s linear infinite;
}
.ldio-7htin0opikm div:nth-child(1) > div {
  left: 144px;
  top: 94px;
  animation-delay: -0.9166666666666666s;
}
.ldio-7htin0opikm > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 150px 100px;
}
.ldio-7htin0opikm div:nth-child(2) > div {
  left: 137px;
  top: 119px;
  animation-delay: -0.8333333333333334s;
}
.ldio-7htin0opikm > div:nth-child(2) {
  transform: rotate(30deg);
  transform-origin: 143px 125px;
}
.ldio-7htin0opikm div:nth-child(3) > div {
  left: 119px;
  top: 137px;
  animation-delay: -0.75s;
}
.ldio-7htin0opikm > div:nth-child(3) {
  transform: rotate(60deg);
  transform-origin: 125px 143px;
}
.ldio-7htin0opikm div:nth-child(4) > div {
  left: 94px;
  top: 144px;
  animation-delay: -0.6666666666666666s;
}
.ldio-7htin0opikm > div:nth-child(4) {
  transform: rotate(90deg);
  transform-origin: 100px 150px;
}
.ldio-7htin0opikm div:nth-child(5) > div {
  left: 69px;
  top: 137px;
  animation-delay: -0.5833333333333334s;
}
.ldio-7htin0opikm > div:nth-child(5) {
  transform: rotate(120deg);
  transform-origin: 75px 143px;
}
.ldio-7htin0opikm div:nth-child(6) > div {
  left: 51px;
  top: 119px;
  animation-delay: -0.5s;
}
.ldio-7htin0opikm > div:nth-child(6) {
  transform: rotate(150deg);
  transform-origin: 57px 125px;
}
.ldio-7htin0opikm div:nth-child(7) > div {
  left: 44px;
  top: 94px;
  animation-delay: -0.4166666666666667s;
}
.ldio-7htin0opikm > div:nth-child(7) {
  transform: rotate(180deg);
  transform-origin: 50px 100px;
}
.ldio-7htin0opikm div:nth-child(8) > div {
  left: 51px;
  top: 69px;
  animation-delay: -0.3333333333333333s;
}
.ldio-7htin0opikm > div:nth-child(8) {
  transform: rotate(210deg);
  transform-origin: 57px 75px;
}
.ldio-7htin0opikm div:nth-child(9) > div {
  left: 69px;
  top: 51px;
  animation-delay: -0.25s;
}
.ldio-7htin0opikm > div:nth-child(9) {
  transform: rotate(240deg);
  transform-origin: 75px 57px;
}
.ldio-7htin0opikm div:nth-child(10) > div {
  left: 94px;
  top: 44px;
  animation-delay: -0.16666666666666666s;
}
.ldio-7htin0opikm > div:nth-child(10) {
  transform: rotate(270deg);
  transform-origin: 100px 50px;
}
.ldio-7htin0opikm div:nth-child(11) > div {
  left: 119px;
  top: 51px;
  animation-delay: -0.08333333333333333s;
}
.ldio-7htin0opikm > div:nth-child(11) {
  transform: rotate(300deg);
  transform-origin: 125px 57px;
}
.ldio-7htin0opikm div:nth-child(12) > div {
  left: 137px;
  top: 69px;
  animation-delay: 0s;
}
.ldio-7htin0opikm > div:nth-child(12) {
  transform: rotate(330deg);
  transform-origin: 143px 75px;
}
.loadingio-spinner-spin-zo5dn3x3m2p {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-7htin0opikm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7htin0opikm div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
